/* @import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Noto+Nastaliq+Urdu:wght@400..700&family=Playwrite+NZ+Basic:wght@100..400&family=Vazirmatn:wght@100..900&display=swap'); */

@font-face {
    font-family: vazir;
    src:
        url(./../fonts/Vazir.ttf), url(./../fonts/Vazir.eot),
        url(./../fonts/Vazir.woff), url(./../fonts/Vazir.woff2);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    direction: rtl;
    font-family: vazir;
}

p {
    text-align: center;
    background-color: #0c5b89;
}

a {
    font-size: 14px;
    font-weight: bold;
    margin-right: 15px;
    margin-bottom: 10px;
    color: white;
    display: inline-block;
}
