*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    direction : rtl;
}

header nav{
    display: flex;
    justify-content: center;
}

header nav .header{
    width: 80vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .header .menu ul{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

header nav .header .menu ul li a{
    color: gray;
}

header nav .header .menu ul button{
    background-color: orangered;
    padding: .5rem 1.5rem;
    border-radius: 100px;
}