:root{
    --primary-color: #FF5B35;
}

@font-face {
    font-family: vazir;
    src: url(./../../../j06/assets/fonts/Vazir.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    direction : rtl;
    font-family: vazir;
    font-size: .9rem;
}

header nav{
    display: flex;
    justify-content: center;
    width: 100vw;
}

header nav .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 80%;
}

header nav .top .left{
    width: 50%;
}

header nav .top .left ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .top .left ul li a{
    color: #333;
}

header nav .top .left ul li a:hover{
    color: var(--primary-color);
}

header nav .top .left ul li button{
    padding: 10px 20px;
    background-color: var(--primary-color);
    border-radius: 100px;
    border: none;
}

.ads{
    width: 100vw;
    height: 70px;
    background: url(./../images/header-banner-desktop.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* 
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
} */

main .w-70v{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

main .w-70v .hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
    /* background-color: #FF5B35; */
    margin-top: 80px;
}

main .w-70v .hero .right, main .w-70v .hero .left{
    width: 50%;
    height: 100%;
}

main .hero .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.right p{
    font-size: 3rem;
    font-weight: 600;
}

main .hero .right .btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
    width: 100%;
}

main .hero .right .btns button{
    border-radius: 100px;
    width: 200px;
    height: 50px;
    border: 3px solid black;
    font-size: 1rem;
    font-weight: bold;
}

main .hero .right .btns button:first-child{
    background-color: black;
    color: white;
}

main .hero .right .btns button:last-child{
    background-color: white;
    color: black;
}

main img{
    width: 75%;
    border-radius: 40px;
}